/** animation de l'icone **/
@keyframes rotation_icon {
  0% {
    transform: rotate(0);
  }
  14% {
    transform: rotate(+15deg);
  }
  28% {
    transform: rotate(-15deg);
  }
  42% {
    transform: rotate(0);
  }
  56% {
    transform: rotate(+5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

/***************************/
/** version mobile 655px ***/
/***************************/
/** animation de la presentation des plats **/
@media screen and (max-width: 655px) {
  @keyframes animation_plat_1 {
    0% {
      transform: translate(0%);
      opacity: 1;
    }
    26% {
      transform: translate(0%);
      opacity: 1;
    }
    29% {
      transform: translate(-100%);
      opacity: 0;
    }
    93% {
      transform: translate(100%);
      opacity: 0;
    }
    96% {
      transform: translate(0%);
      opacity: 1;
    }
  }
  
  @keyframes animation_plat_2 {
    29% {
      transform: translate(100%);
      opacity: 0;
    }
    32% {
      transform: translate(0%);
      opacity: 1;
    }
    58% {
      transform: translate(0%);
      opacity: 1;
    }
    61% {
      transform: translate(-100%);
      opacity: 0;
    }
  }
  
  @keyframes animation_plat_3 {
    61% {
      transform: translate(100%);
      opacity: 0;
    }
    64% {
      transform: translate(0%);
      opacity: 1;
    }
    90% {
      transform: translate(0%);
      opacity: 1;
    }
    93% {
      transform: translate(-100%);
      opacity: 0;
    }
  }
}
